<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>eic</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>dbpop</servlet-name>
    <jsp-file>/eic/dbpop.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>dbpop</servlet-name>
    <url-pattern>/eic/dbpop</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Autocomplete</display-name>
    <servlet-name>Autocomplete</servlet-name>
    <servlet-class>com.rojosewe.eic.servlet.Autocomplete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Autocomplete</servlet-name>
    <url-pattern>/eic/autocomplete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Config</display-name>
    <servlet-name>Config</servlet-name>
    <jsp-file>/eic/config.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Config</servlet-name>
    <url-pattern>/eic/Config</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>auxonf</display-name>
    <servlet-name>auxonf</servlet-name>
    <servlet-class>com.rojosewe.eic.servlet.Config</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>auxonf</servlet-name>
    <url-pattern>/eic/auxconfig</url-pattern>
  </servlet-mapping>
  <context-param>
        <param-name>jdbc</param-name>
        <param-value>jdbc:mysql://192.168.2.4:3306/eic</param-value>
  </context-param>
  <context-param>
        <param-name>userjdbc</param-name>
        <param-value>eic</param-value>
  </context-param>
  <context-param>
        <param-name>psswdjdbc</param-name>
        <param-value>eic</param-value>
  </context-param>
 
</web-app>